* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./college/college2.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

form {
    position: absolute;
    top: 43px;
    background: linear-gradient(41deg, #10dde7, #2a62dd);
    right: 10%;
    border-radius: 19px;
    padding: 17px 41px 17px 41px;
    line-height: 3em;
    color: white;
    font-family: sans-serif;
    box-shadow: 6px 5px 0px 1px white, inset 7px 5px 16px 1px black;    
}


h1 {
    text-shadow: 1px 5px 0px black;
    word-spacing: 5px;
    text-align: center;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
    appearance: none;
}

input:not(input[type=button]) {
    width: 100%;
    padding: 11px 11px;
    border-radius: 12px;
    border: 7px ridge white;
    outline: none;
    box-shadow: inset 0px 0px 5px 0px black, 3px 4px 9px 0px lightgrey;
    font-family: cursive;
    font-weight: bold;
}

input[type=button] {
    padding: 11px 25px;
    box-shadow: inset 0px -5px 0px 0px black, 1px 2px 19px 10px lightgrey;
    border: none;
    border-radius: 38px;
    font-weight: bold;
    cursor: pointer;
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

input[type="button"]:active{
    
    transform: translateY(5px);
    box-shadow: 2px 2px 1px 0px black;
}

i{
    padding: 11px;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    height: 40px;
    margin-right: 5px;
    color: black;
    background: white;
    box-shadow: 5px 4px 5px 0px black, inset -2px -1px 4px 0px black;
}

i.fa-brands.fa-google {
    color: green;
}

i.fa-brands.fa-facebook-f {
    color: blue;
}

i.fa-brands.fa-google-plus-g {
    color: orangered;
}

a:hover {
    color: blue;
}

i:active{
    transform: translateY(5px);
}